

<div class="container row row-cols-1 my-3">
    <h1 class="text-white">Reports</h1>
    <a
            href="#"
            class="my-2 bg-dark link-light text-center col focus-ring py-1 px-2 text-decoration-none  rounded-2"
    >
        <h1>Cars</h1>
    </a>
    <a
            href="#"
            class="my-2 bg-dark text-white text-center col focus-ring py-1 px-2 text-decoration-none  rounded-2"
    >
        <h1>Cars</h1>
    </a>
    <a
            href="#"
            class=" my-2 bg-dark text-white text-center col focus-ring py-1 px-2 text-decoration-none  rounded-2"
    >
        <h1>Cars</h1>
    </a>
</div>
