{% extends 'rentcar/layout.html' %}
{% load static %}

{% block title %} RentCar | Tourist {% endblock %}


{% block content %}
    <button class="btn btn-success" id="btn-crear">Crear</button>
<table class="table table-dark">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th></th>
      <th></th>

    </thead>
    <tbody>
      <tr><td colspan="2">Cargando...</td></tr>
    </tbody>
  </table>


<div class="modal fade" id="tourist-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/tourist.js' %}"></script>
{% endblock %}
